.home {
  font-family: "Typewriter-light";
  h2{
    font-family: "Typewriter-light";
    }
  .logo_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    .logo {
      height: 150px;
      width: 150px;
    }
  }

  .home_text_center {
    text-align: center;
    padding: 1%;
    p {
      padding: 0 10px;
    }
  }
  .badges{
    display: flex;
    text-align: center;
    padding:10px 0;
    justify-content: center;
    flex-wrap: wrap;
    img{
      height: 200px;
      width: auto;
    }
  }
}