body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight_text {
  font-family: "Typewriter-dark";
  color: #17479e;
}

@font-face {
  font-family: 'Typewriter-light';
  src: local('Typewriter-light'), url(./assets/fonts/JMH\ Typewriter.ttf) format('truetype');
}
@font-face {
  font-family: 'Typewriter-dark';
  src: local('Typewriter-dark'), url(./assets/fonts/JMH\ Typewriter-Black.ttf) format('truetype');
}