body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight_text {
  font-family: "AvenirNextProB";
  color: #17479e;
}

@font-face {
  font-family: 'AvenirNextProR';
  src: local('AvenirNextProR'), url(./assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'AvenirNextProI';
  src: local('AvenirNextProI'), url(./assets/fonts/AvenirNextLTPro-It.otf) format('opentype');
}
@font-face {
  font-family: 'AvenirNextProB';
  src: local('AvenirNextProB'), url(./assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
}